*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: aliceblue;
}

body{
    background-image: url('https://mir-s3-cdn-cf.behance.net/f59895b6853f889950a46380a879b3cc/9c9c3e07-0e44-4463-9c22-8f5b8119fc11_rwc_-1x340x1405x246x1405.png?h=e712c53fed6ba49fdc424978385f5232');
    background-size: cover;
    background-repeat: no-repeat;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: black;
    padding-bottom: .5rem;
    margin: 0rem 0rem;
    padding-left: .7rem;
    padding-right: .7rem;
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    margin-top: 20%;
    max-width: 900em;
    margin-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

.content h3{
    font-size: 6em;
    font-weight: 800;
    letter-spacing: 0.10rem;
    color: white;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5); 
}

.content p{
    margin-top: 0.10rem;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: yellow;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}

.nav{
    display: flex;
    gap: 5.5rem;
}

.logo{
    width:10rem;
    aspect-ratio: 0;
}

* {
      box-sizing: border-box;
  }

.heading{
      color: #222222;
      font-size: 1em;
     font-family: "Open Sans", "Helvetica Neue", sans-serif;
     padding-left: 2em;
     padding-right: 2em;
 }


